/* Modal */

.modal {
    z-index: 40;
    display: none;
}

.modal .modal-wrapper {
    background-color: #FFF;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    min-height: 10rem;
    z-index: 41;
}

.modal .modal-wrapper .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.modal .modal-wrapper .modal-content {
    flex-direction: column;
}

.modal .modal-wrapper .modal-content h3 {
    margin-top: 0;
}

.modal .modal-wrapper .modal-content input {
    margin: 1rem 0;
    padding: 0.5rem;
}

.modal .modal-wrapper .modal-content input[type="text"] {
    width: calc(100% - 1rem);
}

.modal .modal-wrapper .modal-content .row label {
    margin-left: 0.5rem;
}

.modal .modal-wrapper .modal-content button {
    background-color: #D2434F;
    border: 0;
    color: #FFF;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
}

.modal .modal-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.value {
    width: 40px;
}

.changeFontFamily {
    border: 0px solid transparent;
    outline: none;
    background-color: white;
    cursor: pointer;
    span {
        width: 100%;
    }
}

.wp-webdeasy-comment-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
    .toolbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        flex-wrap: wrap;
        .box {
            display: flex;
            flex-direction: row;
            padding: .2rem;
            gap: .25rem;
            .submenu-editor {
                position: relative;
                height: fit-content;
                width: 35px;
                height: 35px;
                box-sizing: border-box;
                padding: 9px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                &:hover {
                    &>div {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .submenu {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: fit-content;
                    height: fit-content;
                    align-items: flex-start;
                    background-color: white;
                    gap: .25rem;
                    padding: .25rem;
                }
            }
        }
    }
    .content-area {
        width: 100%;
        background-color: rgba($color: #a9a9a9, $alpha: .25);
        .visual-view {
            width: 100%;
            min-height: 15rem;
            max-height: 80vh;
            overflow-y: auto;
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
}
