<div class="wp-webdeasy-comment-editor">
    <div class="toolbar">
        <div class="box">
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/bold.png" action="bold"></app-action-button>
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/italic.png" action="italic"></app-action-button>
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/underline.png" action="underline"></app-action-button>
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/30/000000/strikethrough.png" action="strikeThrough"></app-action-button>
            <div class="submenu-editor">
                <div class="submenu">
                    <app-action-button src="https://img.icons8.com/small/16/000000/1.png" action="fontSize" value="1"></app-action-button>
                    <app-action-button src="https://img.icons8.com/small/16/000000/2.png" action="fontSize" value="2"></app-action-button>
                    <app-action-button src="https://img.icons8.com/small/16/000000/3.png" action="fontSize" value="3"></app-action-button>
                    <app-action-button src="https://img.icons8.com/small/16/000000/4.png" action="fontSize" value="4"></app-action-button>
                    <app-action-button src="https://img.icons8.com/small/16/000000/5.png" action="fontSize" value="5"></app-action-button>
                    <app-action-button src="https://img.icons8.com/small/16/000000/6.png" action="fontSize" value="6"></app-action-button>
                    <app-action-button src="https://img.icons8.com/small/16/000000/7.png" action="fontSize" value="7"></app-action-button>
                </div>
                <img src="https://img.icons8.com/material-outlined/24/000000/increase-font.png" />
            </div>
            <div class="submenu-editor">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/choose-font.png" />
                <div class="submenu">
                    <button class="changeFontFamily" (click)="changeFont('Lato')"><span>Lato</span></button>
                    <button class="changeFontFamily" (click)="changeFont('Raleway')"><span>Raleway</span></button>
                    <button class="changeFontFamily" (click)="changeFont('Roboto')"><span>Roboto</span></button>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="submenu-editor">
                <img src="https://img.icons8.com/fluency-systems-filled/48/000000/align-left.png" />
                <div class="submenu">
                    <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/align-left.png" action="justifyLeft"></app-action-button>
                    <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/align-center.png" action="justifyCenter"></app-action-button>
                    <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/align-right.png" action="justifyRight"></app-action-button>
                    <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/align-justify.png" action="formatBlock"></app-action-button>
                </div>
            </div>
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/numbered-list.png" action="insertOrderedList"> </app-action-button>
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/bulleted-list.png" action="insertUnorderedList"> </app-action-button>
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/outdent.png" action="outdent"> </app-action-button>
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/indent.png" action="indent"> </app-action-button>
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/horizontal-line.png" action="insertHorizontalRule"> </app-action-button>
        </div>


        <div class="box">
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/undo--v1.png" action="undo"> </app-action-button>
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/remove-format.png" action="removeFormat"> </app-action-button>
        </div>

        <div class="box">
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/add-link.png" (click)="execLinkAction()"> </app-action-button>
            <app-action-button src="https://img.icons8.com/fluency-systems-filled/48/000000/delete-link.png" action="unlink"> </app-action-button>
        </div>
    </div>
    <div class="content-area">
        <div class="visual-view" contenteditable>
        </div>
    </div>
</div>

<div class="modal">
    <div class="modal-bg"></div>
    <div class="modal-wrapper">
        <div class="close">✖</div>
        <div class="modal-content" id="modalCreateLink">
            <h3>Agregar enlace</h3>
            <input type="text" id="linkValue" placeholder="Enlace (ejemplo: https://www.inmobz.com)">
            <div class="row">
                <input type="checkbox" id="new-tab">
                <label for="new-tab">Abrir en una nueva ventana?</label>
            </div>
            <button class="done">Agregar</button>
        </div>
    </div>
</div>

<div [innerHTML]="valueInnerHTML">
</div>
